body{
    font-size: 12px;
    float: left;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
#header{
    width: 100%;
    height: 52px;
    background-color: #fff;
    margin-bottom: 0;
    top: 0;
    border-bottom: 1px solid #ddd;
    position: fixed;
    z-index: 999;
    transition: transform .2s, -webkit-transform .2s, -moz-transform .2s;
}
#header .logo{
    width: 100px;
    height: 50%;
    padding: 5px 0;
    position: absolute;
    top: -10px;
    left: 0;
}
.logo-img{
    display: block;
    width: 94%;
    height: 29px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.menu{
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    vertical-align:middle;
    height: 52px;
    line-height: 40px;
    font-weight: bold;
    overflow: hidden;
    display: block;
    margin-left: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.link{
    position: relative;
    display: block;
    color: #444444;
    vertical-align: baseline;
    text-decoration: none;
    cursor: pointer;
    
}
.link:hover{
    color: #04b2f7;
}
.header-menu-item{
    float:left;
    margin-right: 15px;
    font-size: 14px;
    display: list-item;
}
.phapluat, .otoxemay, .suckhoe,.giaoduc,.dulich{
    display: none;
}
.wrap{
    width: 870px;
    padding: 0 95px;
    margin-left: -500px;
    left: 50%;
    float:left;
    position: relative;
}

.logo span{
    font-size: 8px;
    display: block;
    letter-spacing: 0;
    color: #444444;
    width: 100%;
    text-transform: uppercase;
    padding-left: 0;
    line-height: 1.2;
    position: absolute;
    top: 35px;
    left: 1px;
    text-indent: 0;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    display: block;
    float: left;
    padding: 0;
    width: 110%;
    position: relative;
}
.wrap1{
    width: 900px;
    padding-top: 10px;
    margin-left: -500px;
    left: 50%;
    float:left;
    position: relative;
    padding-top: 52px;
    clear: both;
    z-index: 99;
}
.left{
    width: 30%;
    float: left;
    height: 530px;
    
}
.right{
    float: right;
    /* background-color: aquamarine; */
    width: 70%;
    height: 530px;
}
.item .thumbnail a{
    display: block;
    width: 104%;
    /* height: 100%; */
    position: relative;
    padding-bottom: 66%;

}
.item .thumbnail img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.item1{
    width: 60%;
    margin-bottom: 0;
    margin-right: 20px;
    float: left;
    position: relative;
    display: block;
}
.item:first-child .title{
    font-size: 27px;
    line-height: 1.2;
    letter-spacing: -0.5px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin-top: 5px;
}
.title a{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    cursor: pointer;
    color: #333;
    
}
.title a:hover{
    color: #006BA0;
}
.summary{
    display: block;
    font-size: 18px;
    color: #444;
    line-height: 1.2;
    font-family:'Roboto',Ubuntu,sans-serif;
    vertical-align: baseline;
}
.item2{
    float: left;
    width: 36%;
    margin-bottom: 20px;
}
.title{
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -0.5px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin-top: 5px;
}
.item3{
    float: left;
    width: 36%;
    margin-bottom: 0;
}

.item4{
    float:left;
    position: relative;
    width: 100%;
    font-family: 'Roboto',Ubuntu,sans-serif;
    line-height: 1.4;
    border-bottom: 1px solid #dedede;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.left .item .thumbnail{
    margin-right: 12px;
    
    width: 120px;
    float:left;
    margin-bottom: 0;
    position: relative;
}
.left .item .title{
    line-height: 1.4;
    font-size: 14px;
    
    font-weight: bold;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.content1{
    display: block;
    float: left;
    padding: 0;
    width: 100%;
    position: absolute;
    margin-bottom: 50px;
    background: #ffde76;
    top: -30px;
    left: -30px;
    right: -30px;
    bottom: -30px;

}
#multimedia{
    margin-top: 30px;
    margin-bottom: 60px;
    position: relative;
}

#multimedia::before{
    content:"";
    display: block;
    position: absolute;
    background: #ffde76;
    top: -30px;
    left: -30px;
    right: -30px;
    bottom: -30px;

}
.content .content-title{
    display: block;
    margin-bottom: 20px;
}
.content .content-title h3{
    font-size: 2em;
    font-weight: 600;
    color: #000;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    padding: 0 15px 0 20px;
    margin: 6px 0 4px 0;
}
.content .content-title h3::before{
    content: '';
    position: absolute;
    width: 5px;
    left: 5px;
    top: 2px;
    bottom: 2px;
    background-color: #dd3333;
    -webkit-transform: skew(-20deg);
}
.content .content-title ul{
    display: inline-block;
    margin-left: 30px;
    position: relative;
    top: -4px;
    list-style: none;
}
.content .content-title li{
    display: inline-block;
    margin-right: 30px;
}
.content .content-title ul li a{
    font-size: 15px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: baseline;
}
.content .content-title ul li a:hover{
    color: #dd3333;
}
.multimedia-content .item:first-child{
    width: 45%;
    float: left;
    margin-bottom: 0;
}
.multimedia-content .item{
    margin-right: 3%;
    position: relative;
    font-size: 1rem;
    width: 23%;
    float: left;
    margin-bottom: 20px;
    font-family:'Roboto',Ubuntu,sans-serif;
    line-height: 1.4;
}
#euro{
    margin-bottom: 10px;

}
.content::after{
    content:"";
    display: table;
    clear: both;
}
#euro>header{
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.content .content-title h3 a{
    text-decoration: none;
    color: #000;
}

.content .content-title h3 a:hover{
    color: #3399cc;
}
#euro .euro-content .item:first-child{
    width: 53%;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}
#euro .euro-content .item{
    width: 20%;
    padding: -1px 10px;
}
.euro-content .item{
    margin-bottom: 15px;
    font-size: 1.2rem;
}
.euro-content .item .thumbnail:first-child{
    width: 100%;

}
.euro-content .item .thumbnail{
    overflow: hidden;
    margin-bottom: 8px;
    position: relative;
}
.euro-content .item:first-child header{
    width: 48%;
    margin-right: 20px;
}
.euro-content .item:first-child header .title{
    font-size: 1.5rem;
}
.euro-content .item .thumbnail img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.euro-content .item:first-child header .summary{
    display: block;
    font-size: 14px;
    margin-top: 12px;
}
.item .summary{
    color: #888;
    line-height: 1.4;
}
.euro-content .item:nth-child(2){
    width: 20%;
    margin-right: 10px;
}
.euro-content .item header .title{
    font-size: 1rem;
}
.euro-content .item:nth-child(2) header .summary{
    display: block;
    font-size: 14px;
    margin-top: 10px;
}
.euro-content .item:nth-child(n+3){
    margin-bottom: 0;
}
.euro-content .item:nth-child(n+3) .thumbnail{
    display: none;
}
.euro-content .item:nth-child(n+3) header .title{
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}
.euro-content .item:nth-child(n+3):nth-child(3) header .title{
    padding-top: 0;
}
footer{
    clear: both;
    display: block;
    float: left;
    width: 100%;
    margin: 0 auto 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    font-family:'Roboto Condensed', sans-serif;
    color: #888;
    font-size: 12px;
    background: #f7f7f7;
}
#footer .wrap1 .footer-wrap,footer#footer .wrap1.footer-wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 0px;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    width: 990px !important;
    /* margin-left: -550px !important; */
    left: 50%;

}
footer#footer .wrap1.footer-wrap .left-footer{
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    align-items: flex-start;
    width: auto;
}
#footer .wrap1  .left-footer .logo{
    float: left;
    margin-top: 20px;
    width: 100%;
}
footer .logo{
    display: block;
    
}
footer .logo img{
    display: block;
    width: 100%;
    height: auto;
}
#footer .wrap1 .info{
    float: left;
    line-height: 1.6;
}
#footer .wrap1 .right-footer{
    float: right;
    text-align: left;
    line-height: 1.6;
}
#footer .wrap1 .right-footer .links{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0;
    text-align: left;
}
footer.links{
    display: block;
    border-radius: 3px;
    float: left;
    width: 100%;
    clear: both;
}
#footer a{
    color: #888 !important;
    text-decoration: none;
}
.list{
    float: left;
    width: 100%;
}
.list .item{
    margin-bottom: 29px;
    font-size: 1.2rem;
}
.list .item .thumbnail{
    width: 42%;
    float: left;
    margin-right: 15px;
}
.list .item .title{
    font-size: 1.1em;
    letter-spacing: 0;
    line-height: 1.3;
}
.list .item .summary{
    font-size: 0.7em;
    display: block;
}
.list .item::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #eee;
    position: absolute;
    left: 0;
    bottom: -15px;
}
.list .item .meta{
    margin: 6px 0;
    display: block;

}
.item .meta{
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    color: #666;
}
.item .meta .publish{
    color: #aaa;
}
.item .meta >*{
    margin-right: 5px;
    display: inline-block;
}
.item .meta a{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}
.item .meta a:hover{
    color: #3399cc;
}


